Binaries
DerivedDataCache
Intermediate
Saved
Content/StarterContent
Content/ThirdPerson
Content/LevelPrototyping
Content/Characters
Content/__ExternalActors__
Content/__ExternalObjects__
Build/
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace